<div class="col-md-6">

    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Elementos generales</font>
                </font>
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form role="form">
                <!-- text input -->
                <div class="form-group">
                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre</font></font></label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precio</font></font></label>
                    <input type="number" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descripción</font></font></label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>

                <!-- select -->
                <div class="form-group">
                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Categoria</font></font></label>
                    <select class="form-control">
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Opción 1</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">opcion 2</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">opción 3</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">opción 4</font></font></option>
                      <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">opción 5</font></font></option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>