<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    <!-- titulo del componente  -->
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Home</font>
                    </font>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Casa</font>
                            </font>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Página en blanco</font>
                        </font>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Título</font>
                </font>
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Colapso">
                  <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="retirar">
                  <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contendio de la pagina  -->
            aqui va todo el contenido
            <!-- Fin del contenido -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Pie de página
                </font>
            </font>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->